@tailwind base;

@tailwind components;

@tailwind utilities;

@layer utilities {
  .h-14 {
    height: 3.5rem;
  }

  .max-content {
    width: max-content;
  }
}

html,
body,
#___gatsby,
#gatsby-focus-wrapper {
  height: 100%;
}

a {
  color: rgb(59, 130, 246) !important;
  text-decoration: none !important;
}

h2 > a {
  color: initial !important;
}

a:hover {
  text-decoration: underline !important;
}

.header-logo-link:hover .dot-tech {
  color: rgb(59, 130, 246);
}

.main-wrapper {
  min-height: calc(100vh - 7rem);
}

.blog-index article:first-child h2 {
  margin-top: 0;
}

.blog-post-header-image {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.prose {
  max-width: none;
}

.prose .avatar img {
  margin: 0 !important;
}

.prose code::before, .prose code::after {
  content: '';
}

:not(.avatar) img {
  border-radius: 0.375rem;
}

@media (min-width: 1024px) {
  :not(.avatar) img {
    border-radius: 0.5rem;
  }
}
