@tailwind base;

@tailwind components;

@tailwind utilities;

@layer utilities {
  .h-14 {
    height: 3.5rem;
  }

  .max-content {
    width: max-content;
  }
}

html,
body,
#___gatsby,
#gatsby-focus-wrapper {
  height: 100%;
}

a {
  color: #3B82F6 !important;
  text-decoration: none !important;
}

h2 > a {
  color: initial !important;
}

a:hover {
  text-decoration: underline !important;
  filter: brightness(90%);
}

.main-wrapper {
  min-height: calc(100vh - 7rem);
}

.blog-index article:first-child h2 {
  margin-top: 0;
}

.blog-post-header-image {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.prose {
  max-width: none;
}

pre {
  border-radius: 0;
}

.prose .avatar img {
  margin-top: 0 !important;
}
