@tailwind base;

@tailwind components;

@tailwind utilities;

@layer utilities {
  .max-content {
    width: max-content;
  }
}

.blog-post-header-image {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
